@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap&subset=latin-ext');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
}

header.sticky {
    padding: 10px 100px;
    background: #0D0925;
    border-bottom: 1px solid (0, 0, 0, 0.1);
}

header .logo img {
    height: 45px;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #F2F2F2;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;
}

.item a:hover {
    color: #CFC83C;
}

.item a:after {
    content: '';
    position: absolute;
    left: 50px;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scale(0);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: #CFC83C;
    transition: 0.6s;
}

.item a:hover:after {
    transform: translateX(-50%) scaleX(1);;
    -webkit-transform: translateX(-50%) scaleX(1);
}

.lang a {
    padding: 0.7em 1.5em;
    border: 2px solid #CFC83C;
    border-radius: 20px;
}

.lang a:hover {
    background: #CFC83C;
    color: #000;
}

.toggle {
    display: none;
}

section {
    min-height: 100vh;
    width: 100%;
    clear: both;
}

.banner {
    position: relative;
    background-image: url('img/UV_banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h1 {
    font-size: 6em;
    font-weight: 500;
    padding-top: 1.5em;
    color: #F2F2F2;
}

.banner h2 {
    font-size: 3em;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 6em;
    color: #F2F2F2;
}

.banner img {
    position: absolute;
    bottom: 40px;
}

.light {
    background-color: #F2F2F2;
    color: #0D0925;
    padding: 4em 0;
}
.dark {
    background-color: #0D0925;
    color: #F2F2F2;
    padding: 4em 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.about-info h1,
.skills-info h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    border-bottom: 1px solid #0D0925;
    padding-bottom: .4em;
    margin-bottom: .5em;
}
.about-info h2,
.about-floats h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}
.about-info p {
    text-align: center;
    font-size: 1.2em;
    width: 60%;
    margin: 0 auto;
    padding: 1.5em 0 3.5em;
    line-height: 1.7em;
}
.about-float {
    float: left;
    width: 50%;
}
.about-float p {
    text-align: justify;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 1.5em 2em;
    line-height: 1.7em;
}
.about-float a {
    text-decoration: none;
}
.about-float a:hover {
    color: #491CF4;
}

.skills-info h1 {
    border-bottom: 1px solid #F2F2F2;
}
.skills-info p {
    text-align: center;
    font-size: 1.2em;
    width: 60%;
    margin: 0 auto;
    padding: 1em 0;
    line-height: 1.7em;
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
}
.skills-list img {
    display: block;
    max-width: 200px;
    margin: 0 auto 2em;
}
.skill {
    width: 25%;
    float: left;
    margin-bottom: 1.5em;
}
.skill h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0.75em;
}

.my-work {
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    border-bottom: 1px solid #0D0925;
    padding-bottom: .4em;
    margin-bottom: .5em;
}
.portfolio-items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-item {
    position: relative;
    width: 45%;
    margin: 20px 0;
    border: 1px solid #0E005A;
    transition: 0.5 ease;
}
.port-img {
    position: relative;
    padding: 0;
}
.port-img img {
    display: block;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0E005A;
    opacity: 0;
    transition: .5s ease;
}
.port-link {
    visibility: hidden;
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
}
.port-link a {
    color: #F2F2F2;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}
.port-link a:hover {
    color: #CFC83C;
}
.portfolio-item:hover .overlay {
    opacity: 0.85;
}
.portfolio-item:hover .port-link {
    visibility: visible;
}

.contact-info {
    margin-bottom: 2em;
}
.contact-info h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 0;
}
.contact-info p {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.7em;
    margin: 1.5em;
    letter-spacing: 1px;
}
.contactForm {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}
.contactForm form {
    width: 100%;
}
.contactForm .row100 {
    display: flex;
    width: 100%;
}
.contactForm .row100 .inputBx50 {
    width: 50%;
    margin: 0 20px;
}
.contactForm .row100 .inputBx100 {
    width: 100%;
    margin: 0 20px;
}
.contactForm .row100 input,
.contactForm .row100 textarea {
    position: relative;
    border: none;
    border-bottom: 1px solid #F2F2F2;
    color: #F2F2F2;
    background: transparent;
    width: 100%;
    padding: 10px 0;
    outline: none;
    font-size: 1em;
    font-weight: 300;
    margin: 20px 0;
    resize: none;
}
.contactForm .row100 textarea {
    height: 100px;
}
.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder {
    color: rgba(242, 242, 242, 0.8);
}
.contactForm .row100 input[type="submit"] {
    display: block;
    width: 20%;
    color: #F2F2F2;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 300;
    margin: 20px auto;
    padding: 15px 10px;
    outline: none;
    transition: 0.6s;
    border: 1px solid #CFC83C;
    border-radius: 20px;
}
.contactForm .row100 input[type="submit"]:hover {
    background: #CFC83C;
    color: #000;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.social ul {
    display: flex;
}
.social ul li {
    list-style: none;
}
.social ul li a {
    font-size: 2.8em;
    color: #F2F2F2;
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
    transition: 0.3s ease;
}
#facebook a:hover {
    color: #385895;
}
#instagram a:hover {
    color: #D60048;
}
#linkedin a:hover {
    color: #2693C9;
}
.social ul li a:hover img {
    opacity: 0.5;
}
.copyright {
    text-align: center;
    font-size: 1.4em;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.copyright span {
    font-weight: 600;
}

.clearfix {
    clear: both;
}

@media (max-width: 1120px) {
    .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle:before {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #F2F2F2;;
        z-index: 1;
        box-shadow: 0 10px 0 #F2F2F2;;
        transition: 0.5s;
    }
    .toggle:after {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #F2F2F2;;
        z-index: 1;
        transition: 0.5s;
    }
    header,
    header.sticky {
        padding: 10px 50px;
        background: #0D0925;
    }
    header ul {
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow-y: scroll;
        background: #0D0925;
        visibility: hidden;
        opacity: 0;
    }
    header.active ul {
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 20px;
    }
    header.active ul li a {
        display: inline-block;
        margin: 10px 0;
        font-size: 20px;
        color: #F2F2F2;
    }
    .item a:hover {
        color: #CFC83C;
    }
    header .logo,
    header ul li a {
        color: #000;
    }
    .lang a {
        -ms-flex-order: 1;
    }
    .lang a:hover {
        background-color: #CFC83C;
        color: #000;
    }

    section {
        height: auto;
    }

    .banner {
        height: 100vh;
    }
    .banner h1 {
        font-size: 5em;
        font-weight: 500;
    }
    .banner h2 {
        font-size: 2em;
        font-weight: 100;
    }

    .about-info p {
        width: 100%;
        text-align: justify;
        padding: 1.5em 2em;
    }
    .about-float {
        float: none;
        width: 100%;
    }

    .skills-list img {
        margin-bottom: 10px;
    }
    .skill {
        width: 50%;
        margin-bottom: 3em;
    }
    .skill h1 {
        margin-bottom: 0;
    }

    .my-work {
        font-size: 4em;
    }
    .portfolio-items {
        flex-direction: column;
    }
    .portfolio-item {
        width: 100%;
    }

    .row100 {
        flex-direction: column;
    }
    .contactForm .row100 .inputBx50,
    .contactForm .row100 .inputBx100 {
        width: 100%;
        margin: 0;
    }
    .contactForm .row100 input[type="submit"] {
        width: 30%;
    }
    .social {
        margin: 1em;
    }
}

@media (max-width: 655px) {
    .banner h1 {
        font-size: 3.5em;
        font-weight: 500;
    }
    .banner h2 {
        font-size: 1.5em;
        font-weight: 100;
    }
    .banner img {
        bottom: 20px;
    }

    .container {
        width: 90%;
    }

    .about-info h1 {
        font-size: 3em;
    }
    .about-info p,
    .about-float p {
        width: 100%;
        text-align: justify;
        font-size: 1em;
        padding: 2em 0;
    }

    .skills-info p,
    .skill p {
        font-size: 1em;
    }
    .skill {
        width: 100%;
        float: none;
        margin-bottom: 3em;
    }

    .port-link {
        top: 40%;
    }

    .skills-info h1,
    .contact-info h1,
    .my-work {
        font-size: 3em;
    }
    .contact-info p {
        font-size: 1em;
    }
    .copyright {
        font-size: 1em;
    }
}
